<div class="" style="padding: 96px 16px 64px 16px;">
  <div class="max-width">
    <div class="columns-wrapper">
      <div class="column">
        <h2>About Us</h2>
        <p>
          We proudly work with property owners, realtors and developers across West Michigan to create useable land and
          increase property value. We will work with you to create a plan that will bring your vision to life. We are
          the paint brush and you are the artist.
        </p>
      </div>
      <div class="column">
        <h2>Our Location</h2>
        <p>
          Wayland, MI 49348
        </p>
      </div>
      <div class="column">
        <h2>Contact Us</h2>
        <p>
          <img src="assets/phone-solid.svg">
          616-667-7267
        </p>
        <p>
          <img src="assets/envelope-solid.svg">
          info@midwesternls.com
        </p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper dark">
  <div class="footer max-width dark">
    © Copyright - Midwestern Land Services LLC
  </div>
</div>
