<div class="container">
  <!-- logo -->
  <img class="logo" src="assets/logo1.png">

  <!-- facebook
  instagram
  youtube -->
  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/people/Midwestern-Land-Services/100093386529124/">
        <img class="social-icon" src="assets/facebook.svg">
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/midwesternls/">
        <img class="social-icon" src="assets/instagram.svg" style="margin-bottom: -2px;">
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.youtube.com/channel/UClypZuUPYd0_pOrITavsYHg">
        <img class="social-icon" src="assets/youtube.svg">
      </a>
    </li>
  </ul>
</div>
