<!-- Header image -->
<div style="position: relative;">
  <img src="assets/truck-trailer.jpg">
  <div class="truck-trailer-overlay">
    <div class="overlay-text">
      WEST MICHIGAN'S PREMIER LAND SERVICE
      <!-- PROVIDER OF LAND CLEARING, GRAVEL DRIVEWAY AND EXCAVATION SERVICES -->
    </div>
  </div>
</div>

<!-- Services -->
<div class="section light">
  <div class="max-width">
    <h1>Our Services</h1>
    <p>
      Below are some of the services we offer. Not sure if we offer a service you need? Give us a
      call today and find out!
    </p>
  </div>
</div>

<div style="margin: 16px">
  <mat-grid-list [cols]="deviceService.isMobile ? 2 : 3" rowHeight="1:1" gutterSize="16">
    <mat-grid-tile>
      <img src="assets/land-clearing.jpg">
      <span>Land Clearing</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/forestry-mulching.jpeg">
      <span>Forestry Mulching</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/stump-grinding.jpeg">
      <span>Stump Removal</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/gravel-driveway.jpeg">
      <span>Gravel Driveway Install & Repair</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/erosion-control.jpeg">
      <span>Erosion Control</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/demolition.jpeg">
      <span>Demolition</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- About us -->
<!-- <div class="section light">
  <h1>About Us</h1>
  <p>
    We proudly work with property owners, realtors and developers across West Michigan to create useable land and
    increase property value. We will work with you to create a plan that will bring your vision to life. We are
    the paint brush and you are the artist.
  </p>
</div> -->
